@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Satisfy&display=swap");

body {
  font-family: Roboto;
}

header,
main,
footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}

.logo {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Satisfy", cursive;
  font-size: xx-large;
}

.user-profile {
  width: 50px;
  height: 50px;
}

#user {
  float: right;
  padding: 4px 27px 3px 5px;
}

select {
  display: block;
  height: 2rem;
}

.dataTables_length label {
  display: flex;
  align-items: center;
}

.dataTables_length select {
  width: 4rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background: #bdc3c7; 
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #6d6f70
  ); 
  background: linear-gradient(
    to right,
    #2c3e50,
    #6d6f70
  ); 
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);

}

.speed_card
{
    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.av_speed_card
{
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.engine_status_card
{
    background: #ad5389;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.fuel_level_card
{
    background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.temperature_card
{
background: #3E5151;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.on-off .active
{
    background: #1f4037;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: bold;
}

.camera_btn
{
    /* background: #1e130c; 
background: -webkit-linear-gradient(to right, #9a8478, #1e130c);  
background: linear-gradient(to right, #9a8478, #1e130c);  */

    background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.card-title
{
    display: flex !important;
    align-items: center;
    font-size: 1.2rem !important;
}

.card-content
{
    /* display: flex; */
    /* justify-content: space-around; */
    /* align-items: flex-end; */
}

.card-content p
{
    font-size: 2rem;
    margin: 0 10px;
}