{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Siteguide-Vehicle Listing</title>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css"
    />

    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    <link rel="stylesheet" href="{% static 'css/gauge.css'%}" />
  </head>
  <body>
    <ul id="slide-out" class="sidenav sidenav-fixed blue-grey darken-3">
      <nav class="blue-grey darken-3">
        <p class="white-text logo">SiteGuide</p>
      </nav>

      <li><a href="/" class="white-text">Home</a></li>
      <li><a href="/add/" class="white-text">Add Vehicle</a></li>
    </ul>

    <main>
      <nav class="blue-grey darken-3">
        <a href="#" data-target="slide-out" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <a href="#user" id="user"
          ><img
            class="circle user-profile"
            src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
        /></a>
      </nav>

      {%block content%} {%endblock%}
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'Js/main.js'%}"></script>
    <script>
      if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
      }
    </script>
  </body>
</html>
